:root{
  /* dark */
    /* --orange: #FF8F4C;
    --lightorange: #0D0D0D;
    --red: #FFBE97; */
    
    /* light */
    --orange: #FF8F4C;
    --lightorange: #FFEBD4;
    --red: #6D0000;
    
    }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--lightorange);
  color: var(--orange);
}

.totop{
  background-color: var(--red);
  position: fixed;
  right: -70px;
  bottom: 30px;
  border-radius: 30px;
  width: 70px;
  padding: 10px 17px 5px 0;
  font-size: 25px;
  border: none;
  color: var(--lightorange);
  transition: 0.5s;
  cursor: pointer;
}

/* ::-webkit-scrollbar{
  width: 11px;
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background:var(--orange);
  border-radius: 20px;
} */

::selection{
  background-color: var(--orange);
  color: var(--lightorange);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
